<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a ui-sref="myapp.dashbord"  class="homeIcon"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Complaint / Service Request</li>
      </ul>            
      <div class="m-b-md">
        <h3 class="m-b-none">Complaint / Service Request</h3>
        <small>&nbsp;</small> </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-3">
              <input type="text" style="width:100%" ng-model="search.payer" placeholder="Enter Mobile number to search" class="ng-pristine ng-untouched ng-valid ng-empty"> 
              </div>
            <div class="col-xs-3">
            Filter By Service
            <select ng-model="Service" ng-init="Service = 'select Service'" style="height:30px" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              <option value="select Service" selected="selected">select Service</option>
              <option value="Electrical">Electrical</option>
              <option value="Maintenance">Maintenance</option>
              <option value="Party Hall">Plumbing</option>
              <option value="Bank">Hospitality</option>
            </select>
          </div>
          <div class="col-xs-4">
            Filter By status
            <select ng-model="status" ng-init="status = 'all'" style="height:30px" class="ng-pristine ng-untouched ng-valid ng-not-empty">
              <option value="all">all</option>
              <option value="created">opened</option>
              <option value="cancel">cancelled</option>
              <option value="completed">closed</option>
            </select>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-md btn-warning" ng-click="status='all';Service = 'select Service';search.payer=''">clear filter</button>
          </div>
        </div>
        <section class="panel panel-default">
        <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped table-responsive">
            <tr>
              <th>Complaint/Request ID</th>
              <th>Name</th>
              <th>Phone</th>
              <!-- <th>Service Type</th> -->
              <th>Complaint/Service</th>
              <th>Description</th>
              <th>Date & Time</th>
              <th>Status</th> 
              <!-- <th>Generate Bill</th>                     -->
            </tr>
            
            <tr ng-repeat="x in serviceRequest | filter:search.payer | orderBy:'-created_at'" ng-if="Service == 'select Service' || Service == x.service_type" ng-show="status=='all' || status == x.status">
              <td>{{x.id}}</td>
              <td>  <span ng-if="x.user.firstname">{{x.user.firstname}}</span> <span ng-if="x.user.lastname">{{x.user.lastname}}</span></td>
              <td>{{x.user.mobile}}</td>
              <td>{{x.service_type}}</td>
              <td>{{x.description}}</td>
              <td>{{x.created_at | date :'shortDate' }} {{x.created_at | date :'shortTime' }}</td>
              <td>{{x.status==='completed'?'closed':x.status==='created'?'opened':'cancelled'}}</td>
              <!-- <td><span ng-click="gotoPaybill(x);"><b><a href="" class="link">Request</a></b></span></td> -->
              <!-- <td><span ng-click="gotoPaybill(x);"><b><a href="" class="link">Generate</a></b></span></td> -->
            </tr>
          </table>
        </div>
        <div class="row m-l-none m-r-none bg-light lter"> </div>
      </section>
      
      <!-- Modal -->
<div id="NewComplaint" class="modal fade" role="dialog">
<div class="modal-dialog">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Create New Complaint</h4>
</div>
<div class="modal-body">
         <div class="form-group">
             <label class="col-md-4">Complaint ID</label>
            <div class="col-md-8"><input name="" type="text" class="form-control"></div>
          </div>
          <div class="form-group">
              <label class="col-md-4">Complaint Name</label>
            <div class="col-md-8"><input name="" type="text" class="form-control"></div>
          </div>
          <div class="form-group">
              <label class="col-md-4">Description</label>
            <div class="col-md-8"><textarea name="" cols="" rows="3" class="form-control"></textarea></div>
          </div>
          <div class="form-group">
              <label class="col-md-4">Status</label>
            <div class="col-md-8"><select class="form-control"><option>Open</option><option>Close</option></select></div>
          </div>
          <div class="form-group">
             <label class="col-md-4">Date & Time</label>
            <div class="col-md-8"><input name="" type="text" class="form-control"></div>
          </div>
</div>
<div class="modal-footer">
  <input name="" type="button" value="Create" class="btn btn-primary"> <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
</div>

</div>
</div>
          </section>
      </section>
       
   
  </section>