          <section class="vbox">
            <section class="scrollable padder">
              <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li>
                  <a href="" class="homeIcon">
                    <i class="fa fa-home"></i> Home</a>
                </li>
                <li class="active">Dashboard</li>
              </ul>
              <div class="m-b-md">
                <h3 class="m-b-none">Dashboard</h3>
                <small>Welcome back, {{unameFirst}}</small>
              </div>
              <section class="panel panel-default">
                <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;color: #fff !important">

                  <h3>Welcome {{unameFirst}},</h3>
                  <!-- <p>The admin portal allows for tenant management of Rooms in your organization. It includes items such as usage metrics, access to the Office 365 admin center, and settings. The admin portal is accessible to all users who are Global Admins in Office 365 or have been assigned.</p> -->

                </div>
                <div class="row m-l-none m-r-none bg-light lter"> </div>
              </section>

              <div class="row">
<!--
                  <div class="col-lg-4">
                  <section class="panel panel-default">
                    <header class="panel-heading">Total App Users</header>
                    <div class="panel-body text-center">   
                     <h4>{{totalUser}}</h4>
                    <div class="inline">           
                      <div id="test-circle7"></div>
                        </div>
                    </div>
                  </section>
                </div>
-->
                <div class="col-lg-4" ng-show="totalUser">
                  <section class="panel panel-default">
                    <header class="panel-heading">Total App Users</header>
                    <div class="panel-body text-center">   
                     <h4>Total App Users: {{totalUser.USER}}</h4>
                     <h4></h4>
                    <div class="inline">           
                       <div class="easypiechart chart1"   data-line-width="30" data-track-color="#f2d40d" data-bar-color="#f17524" data-scale-color="#fff" data-size={{dataSize}} data-line-cap='butt'>
                          <span class="h2 step">{{totalUserPercent.USER}}</span>
                          <div class="easypie-text">Total App Users</div>
                        </div>
                        </div>
                    </div>
                  </section>
                    
                </div>
<!--
                <div class="col-lg-4">
                  <section class="panel panel-default">
                    <header class="panel-heading">Total Active Users</header>
                    <div class="panel-body text-center">
                      <h4>{{activeUser}}</h4>
                      <div class="inline">
                        <div id="test-circle8"></div>
                      </div>
                    </div>
                  </section>
                </div>
-->                <div class="col-lg-4" ng-show="entityUserCount>=0">
                  <section class="panel panel-default">
                    <header class="panel-heading">Total entity casa Users</header>
                    <div class="panel-body text-center">   
                     <h4>Casa Entity Users: {{entityUserCount}}</h4>
                     <h4></h4>
                    <div class="inline">           
                       <div class="easypiechart chart2"  data-line-width="30" data-track-color="#f2d40d" data-bar-color="#f17524" data-scale-color="#fff" data-size={{dataSize}} data-line-cap='butt'>
                          <span class="h2 step">{{entityUserPercent}}</span>
                          <div class="easypie-text">entity Users</div>
                        </div>
                        </div>
                    </div>
                  </section>
                </div>

<!--
                <div class="col-lg-4">
                  <section class="panel panel-default">
                    <header class="panel-heading">Total Visitors Checked In</header>
                    <div class="panel-body text-center">
                      <h4>{{visitorCheckin}}</h4>
                      <div class="inline">
                        <div id="test-circle9"></div>
                      </div>
                    </div>
                  </section>
                </div>
-->                <div class="col-lg-4" ng-show="checkedInCount">
                  <section class="panel panel-default">
                    <header class="panel-heading">Total checked In Users</header>
                    <div class="panel-body text-center">   
                     <h4>Checked In Users: {{checkedInCount}}</h4>
                     <h4>{{}}</h4>
                    <div class="inline">           
                       <div class="easypiechart chart3" data-line-width="30" data-track-color="#f2d40d" data-bar-color="#f17524" data-scale-color="#fff" data-size={{dataSize}} data-line-cap='butt'>
                          <span class="h2 step">{{checkedInPercent}}</span>
                          <div class="easypie-text">Checked In</div>
                        </div>
                        </div>
                    </div>
                  </section>
                    
                </div>

<!--
                <div class="col-lg-4">
                  <section class="panel panel-default">
                    <header class="panel-heading">Total Visitors Checked Out</header>
                    <div class="panel-body text-center">
                      <h4>{{visitorCheckout}}</h4>
                      <div class="inline">
                        <div id="test-circle10"></div>
                      </div>
                    </div>
                  </section>
                </div>
-->                <div class="col-lg-4" ng-show="activeCount">
                  <section class="panel panel-default">
                    <header class="panel-heading">Total active Users</header>
                    <div class="panel-body text-center">   
                     <h4>Total active user: {{activeCount.USER}}</h4>
                     <h4></h4>
                    <div class="inline">           
                       <div class="easypiechart chart4"  data-line-width="30" data-track-color="#f2d40d" data-bar-color="#f17524" data-scale-color="#fff" data-size={{dataSize}} data-line-cap='butt'>
                          <span class="h2 step">{{0}}</span>
                          <div class="easypie-text">Total active user</div>
                        </div>
                        </div>
                    </div>
                  </section>
                    
                </div>

              </div>
<!--
              <div class="col-lg-6">
                <section class="panel panel-default">
                  <div class="panel-body">

                    <div class="table-responsive">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Services</th>
                            <th>No. of Request</th>
                            <th>Transanctions</th>
                            <th>Details</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in tableValues">
                                <td>{{x.name}}</td>
                                <td>{{x.noOfRequest}}</td>
                                <td>{{x.transanctions}}</td>
                                <td>
                                  <a href="#">View</a>
                                </td>
                              </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>
              </div>
-->
<!--
              <div class="col-lg-6">
                <section class="panel panel-default">
                  <div class="panel-body">
                    <div class="table-responsive">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped">
                        <thead>
                          <tr>
                              <th>Full Name</th>
                              <th>Mobile Number</th>
                              <th>Purpose of Visit</th>
                              <th>Status</th>
                              <th>OTP</th>     
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="x in servicesValues">
                            <td>{{x.name}}</td>
                            <td>{{x.mobile}}</td>
                            <td>{{x.purpose}}</td>
                            <td><span class="label pull-left bg-primary text-uc" ng-show="x.status=='in'">IN</span>
                              <span class="label pull-left bg-danger text-uc" ng-show="x.status=='out'">OUT</span>
                              <span class="label pull-left bg-warning text-uc" ng-show="x.status=='INVITED'">INVITES</span>
                            </td>
                            <td>{{x.otp_secret}}</td>
                            
                          </tr>
                        </tbody>
                        
                      </table>
                    </div>
                  </div>
                </section>
              </div>
-->
            </section>
          </section>
