<section class="m-t-lg wrapper-md animated fadeInDown">
    <div class="container aside-xxl"> <a class="navbar-brand block" href=""><img src="images/logo.png" alt=""> QuantumConnect</a>
        <section class="panel panel-default m-t-lg bg-white">
            <header class="panel-heading text-center"> <strong>Sign In</strong> </header>
            <form class="panel-body wrapper-lg" name="loginForm" novalidate>
                <!--<div class="form-group">
                <label class="control-label">Role</label>
               
                <select ng-model="selectedName" class="form-control input-md" ng-init="selectedName = userType[0]" placeholder="hello" ng-options="x for x in userType">
                    </select> 

              </div>-->
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" name="user" placeholder="eg. James" class="form-control input-md" ng-model="user" ng-change="enableCallback()" required>
                    <span style="color:red" ng-show="loginForm.user.$dirty && loginForm.user.$invalid">
                    <span ng-show="loginForm.user.$error.required">Username is required.</span>
                    </span>
                    <!-- <input type="text"  ng-model="name" placeholder="eg. Your name or company" class="form-control input-md" required>
                <span style="color:red" ng-show="loginForm.name.$dirty && loginForm.name.$invalid">
                        <span ng-show="loginForm.name.$error.required">Username is required.</span>
                        </span> -->
                </div>
                <!-- <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" name="email" ng-model="email" placeholder="test@example.com" class="form-control input-md" ng-change="enableCallback()" required>
            <span style="color:red" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
<span ng-show="loginForm.email.$error.required">Email is required.</span>
<span ng-show="loginForm.email.$error.email">Invalid email address.</span>
</span>
                  </div> -->
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" name="password" ng-model="password" id="inputPassword" placeholder="Type a password" ng-change="enableCallback()" class="form-control input-md" ng-minlength="5" required>
                    <span style="color:red" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                        <span ng-show="loginForm.password.$error.required">password is required.</span>
                    </span>
                    <br/>
                </div>
                <div class="form-group">
                    <!-- <button type="submit" ng-click="submitFrom()" class="btn btn-block btn-primary" 
                  ng-disabled="enableSubmit || (loginForm.user.$dirty && loginForm.user.$invalid) ||  
                  (loginForm.email.$dirty && loginForm.email.$invalid) ||(loginForm.password.$dirty && loginForm.password.$invalid)">Sign up</button> -->
                    <!--
                    <button type="submit" ng-click="submitFrom()" class="btn btn-block btn-primary" 
                    >Login</button>
-->
                    <button type="submit" ng-click="submitFrom()" ng-disabled="!user || !password" class="btn btn-block btn-primary">Login</button>
                    <div class="line line-dashed"></div>
                    <p class="text-muted text-center"><small>Create an account?</small></p>
                    <a ui-sref="myapp.signup" class="btn btn-default btn-small center-block">Sign up</a>

                    <!-- <button class="btn btn-default btn-block">Sign in</button> -->
                </div>
            </form>
        </section>
    </div>
</section>