<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li>
          <a ui-sref="myapp.dashbord" class="homeIcon">
            <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="active">Offers & Discounts</li>
      </ul>

      <div class="pull-right">
        <input name="" type="button" class="btn btn-primary" value="Add a New Discount" data-toggle="modal" data-target="#Offers">
      </div>
      <div class="row-height"></div>
      <div class="m-b-md">
        <h3 class="m-b-none">Offers & Discounts</h3>
        <small>&nbsp;</small>
      </div>

      <section class="panel panel-default">
          <div class="row-height"></div>
          <div class="row" style="margin-bottom: 20px">
            <div class="col-xs-3">
              <input type="text" style="width:100%" ng-model="search" placeholder="Enter Offer Name to search" />
            </div>
            <!-- <div class="col-xs-3">
              Filter By Id Proof
              <select ng-model="Service" ng-init="Service = 'select Proof'" style="height:30px">
                <option>select Proof</option>
                <option>Pan card</option>
                <option>Voter ID</option>
                <option>Aadhar card</option>
                <option>Driving License</option>
              </select>
            </div> -->
            <div class="col-xs-4">
              Filter By status
              <select ng-model="status" ng-init="status = 'All'" style="height:30px">
                <option>All</option>
                <option>CASHBACK</option>
                <option>DISCOUNT</option>
                <option>DIWALI</option>
              </select>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-md btn-warning" ng-click="status='All';search=''">clear filter</button>
            </div>
          </div>
        <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped table-responsive">
            <tr>
              <th>Name</th>
              <th>Discount Type</th>
              <th>Discount</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Description</th>
              <!-- <th>Action</th>                       -->
            </tr>
            <tr ng-repeat="list in offerList | filter:search:strict | orderBy:'-start_datetime'" ng-show="status == 'All' ||  status==list.offer_type">
              <td>{{list.offer_name}}</td>
              <td>{{list.offer_type}}</td>
              <td>{{list.offer_amount}}</td>
              <td>{{list.start_datetime | date : 'shortDate'}}</td>
              <td>{{list.end_datetime| date : 'shortDate'}}</td>
              <td>{{list.offer_description}}</td>
              <!-- <td><a href=""><i class="fa fa-pencil-square-o" title="Edit"></i></a> <a href=""><i class="fa fa-trash-o" title="Delete"></i></a></td> -->
            </tr>

          </table>
        </div>
        <div class="row m-l-none m-r-none bg-light lter"> </div>
      </section>

      <!-- Modal -->
      <div id="Offers" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Discount Information</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-md-4">Name</label>
                <div class="col-md-8">
                  <input name="" ng-model="name" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Discount Type</label>
                <div class="col-md-8">
                  <!-- <select class="form-control">
                <option>Assigned to Order Total</option>
              </select> -->
                  <select ng-model="offer_type" class="form-control input-md" ng-init="offer_type = offerType[0]" placeholder="Maintaince"
                    ng-options="x for x in offerType" required>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Discount Amount</label>
                <div class="col-md-8">
                  <input name="" ng-model="amount" type="number" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Start Date</label>
                <div class="col-md-8">
                  <div id="datetimepicker2" class="input-append date">
                    <input data-format="MM/dd/yyyy HH:mm:ss PP" ng-model="startDate" type="date" class="form-control" min="2018-07-10" max="2019-12-31"></input>
                    <span class="add-on">
                      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                      </i>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4">End Date</label>
                  <div class="col-md-8">
                    <input name="" type="date" ng-model="endDate" class="form-control" min="2018-07-10" max="2019-12-31">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4">Description</label>
                  <div class="col-md-8">
                    <input name="" ng-model="desc" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input name="" type="button" value="Add" class="btn btn-primary" data-dismiss="modal" ng-disabled="!name || !amount || !desc || !offer_type"
                  ng-click="createOffer()">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>

          </div>
        </div>


    </section>
  </section>


</section>