<section class="vbox  ">
        <section class="scrollable padder">
          <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
            <li><a ui-sref="myapp.dashbord"  class="homeIcon"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Reference</li>
          </ul>            
          <div class="m-b-md">
            <h3 class="m-b-none">Reference</h3>
            <small>&nbsp;</small> </div>
            
            <section class="panel panel-default">
                <div class="row-height"></div>

                <div class="row" style="margin-bottom: 20px">
                  <div class="col-xs-3">
                    <input type="text" ng-model="query" class="input-large search-query" placeholder="Enter Reference Details to Search"
                      style="border-radius: 5px;width:100%;height: 30px">
                  </div>
                  <!-- <div class="col-xs-4">
                    Filter By Facility
                    <select ng-model="facility" ng-init="facility = 'select Facility'" style="height:30px">
                      <option>select Facility</option>
                      <option>Party Hall</option>
                      <option>Maintenance</option>
                      <option>Gym</option>
                      <option>Swimming Pool</option>
                      <option>Badminton Court</option>
                      <option>TT Court</option>
                    </select>
                  </div> -->
                  <!-- <div class="col-xs-3">
                    Filter By status
                    <select ng-model="reciver" ng-init="reciver = 'All'" style="height:30px">
                      <option>All</option>
                      <option>Booked</option>
                      <option>Closed</option>
                      <option>Cancelled</option>
                    </select>
                  </div> -->
                  <div class="col-xs-2">
                    <button class="btn btn-md btn-warning" ng-click="query=''">clear filter</div>
                </div>
                    <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped table-responsive">
                              <tr>
                                <th>Id</th>
                                <th>Referred By</th>
                                <th>Referred By No</th>
                                <th>Referred To</th>
                                <th>Referred To No</th>
                                <th>Created At</th>
                              </tr>
                              <tr ng-repeat="user in refernceList | filter:query | orderBy:'-created_at'" >
                                <td>
                                  {{user.id}}
                                </td>
                                <td>{{user.referred_by_name}}</td>
                                <td>{{user.referred_by_mobile}}</td>
                                <td>{{user.referred_to_name}}</td>
                                <td>{{user.referred_to_mobile}}</td>
                                <td>{{user.created_at | date : "shortDate"}}</td>
                              </tr>
                            </table>
                          </div>
            </section>
</section>
</section>