<section id="content" class="feedback">
  <!-- <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li>
          <a href="#">
            <i class="fa fa-home"></i>Control Panel</a>
        </li>
        <li class="active">Feedback</li>
      </ul>
      <div class="pull-right">
        <input name="" type="button" class="btn btn-primary" value="Create Feedback" data-toggle="modal" data-target="#feedback">
      </div>
      <div class="row-height"></div>
      <div class="m-b-md">
        <h3 class="m-b-none">Feedback</h3>
        <small>&nbsp;</small>
      </div>
      <section class="panel panel-default">
          <input type="text" ng-model="search"/>

        <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped table-responsive">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone No.</th>
              <th>Rating</th>
              <th>Message</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
            <tr ng-repeat="x in feed | orderBy : search">
              <td>{{x.id}}</td>
              <td>{{x.name}}</td>
              <td>{{x.email}}</td>
              <td>{{x.mobile}}</td>
              <td>{{x.rating}}</td>
              <td>{{x.date}}</td>
              <td>{{x.action}}</td>
              <td>
                <a href="#">
                  <i class="fa fa-reply" title="Reply"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="row m-l-none m-r-none bg-light lter"> </div>
      </section>

      <div id="feedback" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Create Feedback</h4>
            </div>
            <div class="modal-body">

              <form role="form">
                <div class="form-group">
                  <label>Your Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Email Address</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Phone Number</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Subject</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>Message</label>
                  <textarea name="" cols="" rows="5" class="form-control"></textarea>
                </div>
              </form>

            </div>
            <div class="modal-footer">
              <input name="" type="button" value="Create" class="btn btn-primary">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section> -->
  <!-- <ul class="inline">
  <li>
      <div class="alert alert-info">
           <h4>Total Filtered Client: {{filtered.length}}</h4>

      </div>
  </li>
  <li>
      <div class="btn-group" data-ng-class="{open: open}">
          <button class="btn">Filter by Company</button>
          <button class="btn dropdown-toggle" data-ng-click="open=!open"><span class="caret"></span>

          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><a data-ng-click="checkAll()"><i class="icon-ok-sign"></i>  Check All</a>

              </li>
              <li><a data-ng-click="selectedCompany=[];"><i class="icon-remove-sign"></i>  Uncheck All</a>

              </li>
              <li class="divider"></li>
              <li data-ng-repeat="company in companyList"> <a data-ng-click="setSelectedClient()">{{company.name}}<span data-ng-class="isChecked(company.id)"></span></a>

              </li>
          </ul>
      </div>
  </li>
</ul>
<hr/> -->
  <!-- <h3>Clients Table:</h3>

<table class="table table-hover table-striped">
  <thead>
      <tr>
          <th style="width:10%">#</th>
          <th style="width:20%">Name</th>
          <th style="width:40%">Designation</th>
          <th style="width:30%">Company</th>
      </tr>
  </thead>
  <tbody>
      <tr data-ng-repeat="client in filtered = (clients | companyFilter:selectedCompany)">
          <td>{{$index + 1}}</td>
          <td><em>{{client.name}}</em>

          </td>
          <td>{{client.designation}}</td>
          <td>{{client.company.name}}</td>
      </tr>
  </tbody>
</table> -->
  <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li>
          <a ui-sref="myapp.dashbord" class="homeIcon">
            <i class="fa fa-home"></i>Home</a>
        </li>
        <li class="active">Feedback</li>
      </ul>
      <!-- <div class="pull-right">
            <input name="" type="button" class="btn btn-primary" value="Create Feedback" data-toggle="modal" data-target="#feedback">
          </div> -->

      <!--
Main Layout

<ul>

  <li class="tab">
       <input type="radio" name="tabs" checked="checked" id="tab1" />
       <label for="tab1">One</label>
       <div id="tab-content1" class="content">Text</div>
  </li>

  <li class="tab">
       <input type="radio" name="tabs" checked="checked" id="tab2" />
       <label for="tab2">Two</label>
       <div id="tab-content2" class="content">Text</div>
  </li>

</ul>  



-->

      <ul class="tabs">

        <li class="tab">
          <input type="radio" name="tabs" checked="checked" id="tab1" />
          <label for="tab1" ng-click="survey=false" ng-class="{'activeTab':!survey}">Feedback</label>
          <label for="tab2" ng-click="survey=true" ng-class="{'activeTab':survey}">Survey</label>
          <div id="tab-content1" class="content" ng-show="!survey">
           
            <div class="row">
              <div class="col-xs-3">
                <input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Enter Mobile to Search"
                  style="border-radius: 5px;width:100%;height: 30px">
              </div>
              <div class="col-xs-4">
                Filter By ratings
                <select ng-model="rating" ng-init="rating = 'select rating'" style="height:30px">
                  <option>select rating</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <!-- <div class="col-xs-4">
                Filter By receiver
                <select ng-model="reciver" ng-init="reciver = 'all'" style="height:30px">
                  <option>all</option>
                  <option>Maintenance</option>
                  <option>TT Court</option>
                </select>
              </div> -->
              <div class="col-xs-1">
                <button class="btn btn-md btn-warning" ng-click="reciver='all';rating = 'select rating';query='';search()">clear</div>
            </div>
            <br/>
            <section class="panel panel-default">

              <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">

                <table class="table table-striped table-condensed table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="name">Id&nbsp;
                        <a href="" ng-click="sort_by('name')">&#9660;</a>
                      </th>
                      <th class="field4">Mobile&nbsp;
                        <a href="" ng-click="sort_by('phone')">&#9660;
                        </a>
                      </th>
                      <th class="description">Service&nbsp;</th>
                      <th class="field3">Date&nbsp;
                        <a href="" ng-click="sort_by('date')">&#9660;</a>
                      </th>
                      <th class="field4">Rating&nbsp;
                        <a href="" ng-click="sort_by('rating')">&#9660;
                        </a>
                      </th>

                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="item in pagedItems[0] | orderBy:sortingOrder:reverse" ng-if="rating=='select rating' ||  rating==item.rating"
                      ng-show="reciver=='all' ||  reciver==item.receiver">
                      <td>{{item.id}}</td>
                      <td>{{item.resoved_by_mobile}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.created_at | date : "shortDate"}}</td>
                      <td>{{item.rating}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </li>

        <li class="tab">
          <div id="tab-content2" class="content" ng-show="survey">
           
            <div class="row">
              <div class="col-xs-3">
                <input type="text" ng-model="query1"  class="input-large search-query" placeholder="Enter Mobile to Search"
                  style="border-radius: 5px;width:100%;height: 30px">
              </div>
              <div class="col-xs-4">
                Filter By ratings
                <select ng-model="rating1" ng-init="rating1 = 'select rating'" style="height:30px">
                  <option>select rating</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <!-- <div class="col-xs-4">
                Filter By receiver
                <select ng-model="reciver1" ng-init="reciver1 = 'all'" style="height:30px">
                  <option>all</option>
                  <option>Maintenance</option>
                  <option>TT Court</option>
                </select>
              </div> -->
              <div class="col-xs-1">
                <button class="btn btn-md btn-warning" ng-click="reciver1='all';rating1 = 'select rating';query1='';">clear</div>
            </div>
            <br/>
            <section class="panel panel-default">

              <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">

                <table class="table table-striped table-condensed table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="name">Id&nbsp;
                        <a href="">&#9660;</a>
                      </th>
                      <th class="field4">Mobile&nbsp;
                        <a href="">&#9660;
                        </a>
                      </th>
                      <th class="description">Description&nbsp;</th>
                      <th class="field3">Date&nbsp;
                        <a href="">&#9660;</a>
                      </th>
                      <th class="field4">Rating&nbsp;
                        <a href="">&#9660;
                        </a>
                      </th>

                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="item in items1 | filter: query1 | orderBy:'-created_at'"  ng-show="rating1 == 'select rating' ||rating1 == item.rating">
                      <td>{{item.id}}</td>
                      <td>{{item.resoved_by_mobile}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.created_at | date : "shortDate"}}</td>
                      <td>{{item.rating}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
          </div>
        </li>


      </ul>




    </section>
  </section>

</section>
