    <section class="vbox">
      <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
          <!-- nav -->
          <nav class="nav-primary hidden-xs">
            <ul class="nav">
              <li class="active">
                <a ui-sref="myapp.dashbord">Dashboard</a>
              </li>
              <!--  <li>
               <a href="">
                  <span class="pull-right">
                    <i class="fa fa-angle-down text"></i>
                    <i class="fa fa-angle-up text-active"></i>
                  </span>
                  <span>Control Panel</span>
                </a>
                <ul class="nav lt"> -->
                  <li>
                    <a href="" ui-sref="myapp.payDue">
                      
                      <span>Pay My Dues</span>
                    </a>
                  </li>
                  <li>
                    <a href="" ui-sref="myapp.complaints">
                      
                      <span>Complaint / Service Request</span>
                    </a>
                  </li>
                  <li>
                    <a href="" ui-sref="myapp.book">
                      
                      <span>Book facilities</span>
                    </a>
                  </li>
                  <li>
                    <a href="" ui-sref="myapp.offers">
                      
                      <span>Offers & Discounts</span>
                    </a>
                  </li>
                  <li>
                    <a ui-sref="myapp.invite">
                      
                      <span>Invites</span>
                    </a>
                  </li>
                  <li>
                    <a href="" ui-sref="myapp.emergency">
                      
                      <span>Emergency Contact</span>
                    </a>
                  </li>
                  <li>
                    <a href=""  ui-sref="myapp.feedback">
                      <!-- <i class="fa fa-angle-right"></i> -->
                      <span>Service Feedback</span>
                    </a>
                  </li>
                  <li>
                    <a href="" ui-sref="myapp.reference">
                      
                      <span>Reference</span>
                    </a>
                  </li>
                  <!-- <li>
                      <a ui-sref="myapp.notification">
                      
                      <span>Notifications</span>
                  </li> -->
                <!-- </ul>
              </li>-->
              <!-- <li>
                <a href="">Settings</a>
              </li>
              <li>
                <a href="">Registration</a>
              </li> -->
              <!-- <li>
                <a href="">Quantum Analytic Dashboard</a>
              </li> -->
            </ul>
          </nav>
          <!-- / nav -->
        </div>
      </section>
    </section>
