<section id="content">

  <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li>
          <a ui-sref="myapp.dashbord" class="homeIcon">
            <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="active">Book facilities</li>
      </ul>
      <!--   <form name="createBookingForm" id="createBookingForm" class="createBookingForm">   
              <div class="row"> 
              <div class="col-sm-6">
                  <div class="panel-body">
                    <form role="form">
                      <div class="form-group">
                        <label>Facility Type</label>
                        <select ng-model="vendor_type" class="form-control input-md" ng-init="vendor_type = userType[0]" placeholder="Maintaince" ng-options="x for x in userType" required>
                          </select> 
                      </div>
                     
                      <div class="form-group">
                        <label>start date</label>
                        <input type="date" ng-model="startDate" min="2018-07-02" max="2019-12-31" class="form-control" required>
                      </div>
                    
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="panel-body">
                   <div class="form-group">
                        <label>End date</label>
                        <input type="date" ng-model="endDate"  min="2018-07-02" max="2019-12-31" class="form-control" required>
                      </div>
                       <div class="form-group">
                        <label>Purpose</label>
                        <input type="text" ng-model="purpose" class="form-control"  required>
                      </div>
                  </div>
                  </div>
                </div>   
                   <div class="row"   style="border-bottom: 1px solid #ddd;padding-bottom:20px">  
                     <div class="col-md-offset-4 col-md-4 text-center">
                        <button type="submit" ng-disabled="!vendor_type || !startDate || !endDate || !purpose" class="btn btn-md btn-primary" ng-click="createBooking()">Submit</button>
                         <button type="reset" class="btn btn-md btn-warning">Cancel</button>

                     </div>
                </div>
                </form>-->
      <div class="m-b-md">
        <h3 class="m-b-none">Book facilities</h3>
        <small>&nbsp;</small>
      </div>
      <section class="panel panel-default">
        <div class="row-height"></div>

        <div class="row" style="margin-bottom: 20px;min-height: 35px;">
          <div class="col-xs-3">
            <input type="text" ng-model="query" class="input-large search-query" placeholder="Enter Mobile to Search" style="border-radius: 5px;width:100%;height: 30px">
          </div>
          <div class="col-xs-4">
            Filter By Facility
            <select ng-model="facility" ng-init="facility = 'select Facility'" style="height:30px">
              <option>select Facility</option>
              <option>Party Hall</option>
              <option>Maintenance</option>
              <option>Gym</option>
              <option>Swimming Pool</option>
              <option>Badminton Court</option>
              <option>TT Court</option>
            </select>
          </div>
          <div class="col-xs-3">
            Filter By status
            <select ng-model="reciver" ng-init="reciver = 'All'" style="height:30px">
              <option>All</option>
              <option>Booked</option>
              <option>Closed</option>
              <option>Cancelled</option>
            </select>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-md btn-warning" ng-click="reciver='All';facility = 'select Facility';query='';">clear filter</div>
        </div>
        <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped table-responsive">
            <tr>
              <th>Name</th>
              <th>Email Id</th>
              <th>Phone No.</th>
              <th>Facility</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Status</th>
            </tr>
            <tr ng-repeat="user in bookedList  | filter:query:strict | orderBy:'-start_datetime'" ng-if="facility == 'select Facility' ||  facility==user.facility_type">
              <td>
                <span ng-if="user.user.firstname">{{user.user.firstname}}</span>
                <span ng-if="user.user.lastname">{{user.user.lastname}}</span>
              </td>
              <td>{{user.user.email}}</td>
              <td>{{user.user.mobile}}</td>
              <td>{{user.facility_type}}</td>
              <td>{{user.start_datetime | date : "shortDate"}}</td>
              <td>{{user.end_datetime | date : "shortDate"}}</td>
              <td>{{user.start_datetime | date : "shortTime"}}</td>
              <td>{{user.end_datetime | date : "shortTime"}}</td>
              <td>Booked</td>
            </tr>
          </table>
        </div>
        <div class="row-height"></div>
        <section class="panel panel-default">
          <header class="panel-heading bg-light clearfix">
            <span class="m-t-xs inline">
              Event calendar
            </span>
          </header>
          <div class="calendar" id="calendar">

          </div>
        </section>
        <div class="row m-l-none m-r-none bg-light lter"> </div>
      </section>

      <!-- Modal -->
      <div id="NewComplaint" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Create New Complaint</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-md-4">Complaint ID</label>
                <div class="col-md-8">
                  <input name="" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Complaint Name</label>
                <div class="col-md-8">
                  <input name="" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Description</label>
                <div class="col-md-8">
                  <textarea name="" cols="" rows="3" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Status</label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option>Open</option>
                    <option>Close</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Date & Time</label>
                <div class="col-md-8">
                  <input name="" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input name="" type="button" value="Create" class="btn btn-primary">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>

        </div>
      </div>

    </section>
  </section>


</section>