<section id="content">
  <section class="vbox">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li>
          <a ui-sref="myapp.dashbord" class="homeIcon">
            <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="active">Emergency Contact</li>
      </ul>
      <div class="pull-right">
        <input name="" type="button" class="btn btn-primary" value="Add Emergency Number" data-toggle="modal" ng-click="update='ADD'" data-target="#emergency">
      </div>
      <div class="row-height"></div>
      <div class="m-b-md">
        <h3 class="m-b-none">Emergency Contact</h3>
        <small>&nbsp;</small>
      </div>
      <section class="panel panel-default">
        <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped table-responsive">
            <tr>
              <th width="26%">Emergency</th>
              <th width="49%">Phone No.</th>
              <th width="25%">Update</th>
            </tr>
            <tr ng-repeat="x in emergencyContacts">
              <td>{{x.emergency_type}}</td>
              <td>{{x.contact}}</td>
              <td><a href="" data-toggle="modal" data-target="#emergency" ng-click="updatingContacts(x.emergency_type,x.contact,'EDIT',x.id)"><i class="fa fa-pencil-square-o fa-lg" title="Edit"></i></a>
                
                <!-- <span class="pull-left btn btn-warning" ng-click="updatingContacts(x.emergency_type,x.contact,'EDIT')" data-toggle="modal" data-target="#emergency">Edit</span>&nbsp &nbsp 
                
                <span class="btn btn-danger"  data-toggle="modal" data-target="#emergency" ng-click="updatingContacts(x.emergency_type,x.contact,'DELETE')">Delete</span> -->
              
              </td>
            </tr>
          </table>
        </div>
        <div class="row m-l-none m-r-none bg-light lter"> </div>
      </section>

      <!-- Modal -->
      <!-- <div id="NewComplaint" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Create New Complaint</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-md-4">Complaint ID</label>
                <div class="col-md-8">
                  <input name="" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Complaint Name</label>
                <div class="col-md-8">
                  <input name="" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Description</label>
                <div class="col-md-8">
                  <textarea name="" cols="" rows="3" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Status</label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option>Open</option>
                    <option>Close</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Date & Time</label>
                <div class="col-md-8">
                  <input name="" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input name="" type="button" value="Create" class="btn btn-primary">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>

        </div>
      </div> -->

      <div id="emergency" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" ng-click="update='ADD';emergencyType='';emergencyContact=''">&times;</button>
              <h4 class="modal-title"><span ng-show="update!=='ADD'">Edit Emergency Contact</span> <span ng-show="update=='ADD'">Add Emergency Contact</span> </h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-md-4">Name</label>
                <div class="col-md-8">
                  <input name="" ng-model="emergencyType" ng-disabled="update=='DELETE'" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4">Phone No.</label>
                <div class="col-md-8">
                  <input name="" ng-model="emergencyContact" ng-disabled="update=='DELETE'" type="text" class="form-control">
                </div>
              </div>

              <div class="modal-footer">
                
                <!-- <input name="" type="button" value="Add" data-dismiss="modal" class="btn btn-primary" ng-click="addEmergencyContact()"> -->
                <button type="button" ng-show="update=='ADD'" class="btn btn-primary" data-dismiss="modal"   ng-click="update='ADD';addEmergencyContact()"><span >Add</span></button>
                <button type="button"  ng-show="update!=='ADD'" class="btn btn-primary" data-dismiss="modal"  ng-click="editDelete('EDIT')"><span >EDIT</span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editDelete('DELETE')" ng-show="update!=='ADD'" ><span >Delete</span></button>
                <button type="button" class="btn btn-default" ng-show="update=='ADD'" data-dismiss="modal"  ng-click="update='ADD';emergencyType='';emergencyContact=''">Cancel</button>
              </div>
            </div>

          </div>
        </div>

    </section>
  </section>
</section>