<header class="bg-dark dk header navbar navbar-fixed-top-xs intialHide"  id="header">
    <div class="navbar-header aside-md" style="max-height:65px">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
        <i class="fa fa-bars"></i>
      </a>
      <a href="" class="navbar-brand" ui-sref="myapp.dashbord" style="font-size:15px;color:#fff!important">
        <img src="../images/logo.png" class="m-r-sm" style="max-height:50px"></a>
      <a class="btn btn-link visible-xs" ui-sref="myapp.dashbord" data-toggle="dropdown" data-target=".nav-user">
        <i class="fa fa-cog"></i>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
      <li class="hidden-xs">
        <a href="" class="dropdown-toggle dk" data-toggle="dropdown">
          <i class="fa fa-bell"></i>
         <!-- <span class="badge badge-sm up bg-danger m-l-n-sm count">2</span> -->
        </a>
        <!-- <section class="dropdown-menu aside-xl">
          <section class="panel bg-white">
            <header class="panel-heading b-light bg-light">
              <strong>You have
                <span class="count">2</span> notifications</strong>
            </header>
            <div class="list-group list-group-alt animated fadeInRight">
              <a ui-sref="myapp.notification" class="media list-group-item">
                <span class="pull-left thumb-sm">
                  <img src="../images/avatar.jpg" alt="John said" class="img-circle"> </span>
                <span class="media-body block m-b-none">Notification Content goes here..
                  <br>
                  <small class="text-muted">10 minutes ago</small>
                </span>
              </a>
              <a ui-sref="myapp.notification" class="media list-group-item">
                <span class="pull-left thumb-sm">
                  <img src="../images/avatar.jpg" alt="John said" class="img-circle"> </span>
                <span class="media-body block m-b-none">Notification Content goes here..
                  <br>
                  <small class="text-muted">10 minutes ago</small>
                </span>
              </a>
            </div>
            <footer class="panel-footer text-sm">
              <a ui-sref="myapp.notification" class="pull-right">
                <i class="fa fa-cog"></i>
              </a>
              <a ui-sref="myapp.notification">See all the notifications</a>
            </footer>
          </section>
        </section> -->
      </li>
      <li class="dropdown hidden-xs">
        <!-- <a href="" class="dropdown-toggle dker" data-toggle="dropdown">
          <i class="fa fa-fw fa-search"></i>
        </a> -->
        <section class="dropdown-menu aside-xl animated fadeInUp">
          <section class="panel bg-white">
            <form role="search">
              <div class="form-group wrapper m-b-none">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-icon">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </form>
          </section>
        </section>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <span class="thumb-sm avatar pull-left">
            <!-- <img src="../images/avatar.jpg">  --></span> {{unameFirst}}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInRight">
          <span class="arrow top"></span>
          <li>
            <a href="">Profile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="" ng-click="logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </header>