<section class="vbox">
    <header class="bg-dark dk header navbar navbar-fixed-top-xs intialHide"  id="header">
      <div class="navbar-header aside-md">
        <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
          <i class="fa fa-bars"></i>
        </a>
        <a href="" class="navbar-brand" data-toggle="fullscreen" style="font-size:15px;">
          <img src="../images/logo.png" class="m-r-sm">QuantumConnec</a>
        <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
          <i class="fa fa-cog"></i>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
        <li class="hidden-xs">
          <a href="" class="dropdown-toggle dk" data-toggle="dropdown">
            <i class="fa fa-bell"></i>
            <span class="badge badge-sm up bg-danger m-l-n-sm count">2</span>
          </a>
          <section class="dropdown-menu aside-xl">
            <section class="panel bg-white">
              <header class="panel-heading b-light bg-light">
                <strong>You have
                  <span class="count">2</span> notifications</strong>
              </header>
              <div class="list-group list-group-alt animated fadeInRight">
                <a href="" class="media list-group-item">
                  <span class="pull-left thumb-sm">
                    <img src="../images/avatar.jpg" alt="John said" class="img-circle"> </span>
                  <span class="media-body block m-b-none">Notification Content goes here..
                    <br>
                    <small class="text-muted">10 minutes ago</small>
                  </span>
                </a>
                <a href="" class="media list-group-item">
                  <span class="pull-left thumb-sm">
                    <img src="../images/avatar.jpg" alt="John said" class="img-circle"> </span>
                  <span class="media-body block m-b-none">Notification Content goes here..
                    <br>
                    <small class="text-muted">10 minutes ago</small>
                  </span>
                </a>
              </div>
              <footer class="panel-footer text-sm">
                <a href="" class="pull-right">
                  <i class="fa fa-cog"></i>
                </a>
                <a href="">See all the notifications</a>
              </footer>
            </section>
          </section>
        </li>
        <li class="dropdown hidden-xs">
          <a href="" class="dropdown-toggle dker" data-toggle="dropdown">
            <i class="fa fa-fw fa-search"></i>
          </a>
          <section class="dropdown-menu aside-xl animated fadeInUp">
            <section class="panel bg-white">
              <form role="search">
                <div class="form-group wrapper m-b-none">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-info btn-icon">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </section>
          </section>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-left">
              <img src="../images/avatar.jpg"> </span> Admin
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu animated fadeInRight">
            <span class="arrow top"></span>
            <li>
              <a href="">Profile</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        <aside class="bg-dark lter aside-md hidden-print intialHide" id="nav">
          <section class="vbox">
            <section class="w-f scrollable">
              <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                  <ul class="nav">
                    <li class="active">
                      <a href="">Dashboard</a>
                    </li>
                    <li>
                      <a href="">
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>Control Panel</span>
                      </a>
                      <ul class="nav lt">
                        <li>
                          <a href="">
                            <i class="fa fa-angle-right"></i>
                            <span>Pay My Dues</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-angle-right"></i>
                            <span>Complaint / Service Request</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-angle-right"></i>
                            <span>Book facilities</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-angle-right"></i>
                            <span>Offers & Discounts</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-angle-right"></i>
                            <span>Invites</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-angle-right"></i>
                            <span>Emergency Contact</span>
                          </a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-angle-right"></i>
                            <span>Service Feedback</span>
                          </a>
                        </li>
                        <li>
                          <a href="" ng-click="redirect('notification')">
                            <i class="fa fa-angle-right"></i>
                            <span>Notifications</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="">Settings</a>
                    </li>
                    <li>
                      <a href="">Registration</a>
                    </li>
                    <li>
                      <a href="">Quantum Analytic Dashboard</a>
                    </li>
                  </ul>
                </nav>
                <!-- / nav -->
              </div>
            </section>
          </section>
        </aside>
        <!-- /.aside -->
        <section id="content"><ui-view="login"></ui-view></section>
          
      </section>
    </section>
</section>