<section class="vbox  ">
  <section class="scrollable padder">
    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
      <li>
        <a ui-sref="myapp.dashbord" class="homeIcon">
          <i class="fa fa-home"></i> Home</a>
      </li>
      <li class="active">Invites</li>
    </ul>
    <div class="m-b-md">
      <h3 class="m-b-none">Invites</h3>
      <small>&nbsp;</small>
    </div>

    <section class="panel panel-default">
      <div class="row-height"></div>
      <div class="row" style="margin-bottom: 20px;min-height:40px">
        <div class="col-xs-3">
          <input type="text" style="width:100%" ng-model="search" placeholder="Enter Mobile number to search" />
        </div>
        <div class="col-xs-3">
          Filter By Id Proof
          <select ng-model="Service" ng-init="Service = 'select Proof'" style="height:30px">
            <option>select Proof</option>
            <option>Pan card</option>
            <option>Voter ID</option>
            <option>Aadhar card</option>
            <option>Driving License</option>
          </select>
        </div>
        <div class="col-xs-4">
          Filter By status
          <select ng-model="status" ng-init="status = 'All'" style="height:30px">
            <option>All</option>
            <option>ACCEPTED</option>
            <option>INVITED</option>
          </select>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-md btn-warning" ng-click="status='All';Service = 'select Proof';search=''">clear filter</button>
        </div>
      </div>
      <div class="row m-l-none m-r-none bg-light" style="padding:10px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped table-responsive">
          <tr>
            <th>Inviter Name</th>
            <th>Mobile Number</th>
            <!-- <th>Invity</th>
                    <th>Intivty Mobile</th> -->
            <th>Invity Name</th>
            <th>Invity Mobile</th>
            <th>Purpose of Visit</th>
            <th>Id Proof</th>
            <th>Status</th>
            <!-- <th>OTP</th>      -->
          </tr>
          <tr ng-repeat="x in servicesValues  | filter:search:strict" ng-if="status== 'All' ||  status==x.status" ng-show="Service == 'select Proof' ||  Service==x.id_proof_type">
            <td>{{x.name}}</td>
            <td>{{x.mobile}}</td>
            <td>{{x.invited_by.firstname}} {{x.invited_by.lastname}}</td>
            <td>{{x.invited_by.mobile}}</td>
            <td>{{x.purpose}}</td>
            <td>{{x.id_proof_type}}</td>
            <td>
              <!-- <span class="label pull-left bg-info text-uc" ng-show="x.status=='INVITED'">INVITED</span>
                      <span class="label pull-left bg-success text-uc" ng-show="x.status=='ACCEPTED'">ACCEPTED</span>
                      <span class="label pull-left bg-primary text-uc" ng-show="x.status!=='ACCEPTED' && x.status!=='INVITED'"> -->
              <span class="pull-left">{{x.status}}</span>
              <span class="btn btn-warning pull-right" ng-click="cancelInvite()">CANCEL</span>
            </td>
            <!-- <td ng-if="x.otp_secret && x.status!=='ACCEPTED'">{{x.otp_secret}}</td>
                      <td ng-if="!x.otp_secret || x.status=='ACCEPTED'">234567</td> -->
          </tr>

        </table>
      </div>
      <div class="row m-l-none m-r-none bg-light lter"> </div>
    </section>







  </section>
  </div>


</section>
