<section class="vbox notification">
  <section class="scrollable padder">
    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li>
          <a ui-sref="myapp.dashbord">
            <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="active">Notification</li>
      </ul>
  <div class="row">
      <div class="table-responsive">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped">
            <thead>
              <tr>
                <th>Notification Type</th>
                <th>Message Subject</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in notification">
                    <td>{{x.name}}</td>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                          <tbody>
                            <tr>
                              <td width="80%" border="0">{{x.content}}</td>
                              <td  border="0"><button class="btn-primary">submit</button></td>
                              <!-- <td>hello</td> -->
                            </tr>
                          </tbody>
                          </table>
                    </td>
                   
                  </tr>
            </tbody>
          </table>
        </div>
  </div>
</section>
</section>