<!-- /.aside -->
<section id="content">
  <section class="vbox paybills">
    <section class="scrollable padder">
      <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li>
          <a ui-sref="myapp.dashbord" class="homeIcon">
            <i class="fa fa-home"></i> Home</a>
        </li>
        <li class="active">Pay My Dues</li>
      </ul>
      <div class="m-b-md">
        <h3 class="m-b-none">Pay My Dues</h3>
        <small>&nbsp;</small>
      </div>
      <form name="paydue" id="paymydues">
        <div class="row" style="background-color: #fff">
          <div class="col-sm-6">
            <div class="panel-body">
              <div class="form-group">
                <label> Name</label>
                <input type="text" ng-model="vendor_name" class="form-control" required>
              </div>
              <div class="form-group">
                <label> Phone No.</label>
                <input type="text" ng-model="phone" class="form-control" maxlength="10" required>
              </div>
              <div class="form-group">
                <label>Amount</label>
                <input type="number" ng-model="amount" ng-change="setTotal()" class="form-control" required>
              </div>
              <div class="form-group">
                  <label>
                    Total Amount
                  </label>
                  <input type="number" ng-readonly="true" ng-model="totalamount"  class="form-control">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel-body">
              <form role="form">
                <!-- <div class="form-group">
                          <label>Resident ID</label>
                          <input type="number" ng-model="vendorId" class="form-control" required>
                        </div> -->

                <div class="form-group">
                  <label>Due date</label>
                  <input type="date" ng-model="dueDate" class="form-control" min="2018-07-10" max="2019-12-31" class="form-control" required>
                </div>

                <div class="form-group">
                  <label>Services</label>
                  <!-- <select name="" ng-model="vendor_type" class="form-control" required>
                              <option>Maintenance</option>
                              <option selected>Bank</option>
                              <option>Party Hall</option>
                          </select> -->
                  <select ng-model="vendor_type" class="form-control input-md" ng-init="vendor_type = userType[0]" placeholder="Maintaince"
                    ng-options="x for x in userType" ng-change="setAmount(vendor_type);setTotal()">
                  </select>
                </div>
                <div class="form-group">
                  <label class="switch" style="padding-bottom: 5px">GST in %
                    <input type="checkbox" ng-model="gst" ng-change="setTotal()" >
                    <span class="slider" style="height: 20px;top:5px"></span>
                    {{gst===true?'ON':'OFF'}}
                  </label>
                  <input type="number" ng-disabled="!gst" ng-model="taxpercentage" class="form-control" ng-change="setTotal()">
                </div>
            </div>
          </div>
        </div>
        <div class="row" style="background-color: #fff;margin-bottom:20px;">
          <div class="col-sm-12 text-center" style="padding-bottom:15px;">
            <button type="submit" ng-disabled="!vendor_type || !dueDate  || !vendor_name || !phone || !amount" class="btn btn-md btn-primary"
              ng-click="createDue()">Submit</button>
            <button type="reset" class="btn btn-md btn-warning">Cancel</button>
          </div>
        </div>
        </form>
        <div class="row m-l-none m-r-none bg-light lter"> </div>
        <div class="row-height"></div>
        <section class="panel panel-default">
          <div class="row" style="margin-bottom: 20px; min-height: 35px;">
            <div class="col-xs-3">
              <input type="text" style="width:100%" ng-model="search.payer" placeholder="Enter Mobile number to search" />
            </div>
            <div class="col-xs-3">
              Filter By Service
              <select ng-model="Service" ng-init="Service = 'select Service'" style="height:30px">
                <option>select Service</option>
                <option>Electrical</option>
                <option>Maintenance</option>
                <option>Plumbing</option>
                <option>Party Hall</option>
                <option>Bank</option>
              </select>
            </div>
            <div class="col-xs-4">
              Filter By status
              <select ng-model="status" ng-init="status = 'PENDING'" style="height:30px">
                <option>All</option>
                <option>PENDING</option>
                <option>PAID</option>
              </select>
            </div>
            <div class="col-xs-2">
              <button class="btn btn-md btn-warning" ng-click="status='All';Service = 'select Service';search.payer=''">clear filter</button>
            </div>
          </div>
          <div class="row m-l-none m-r-none bg-light lter" style="padding:10px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed table-bordered table-striped table-responsive">
              <tr>
                <th>Name</th>
                <th>Phone no</th>
                <th>Amount</th>
                <!-- <th>Vendor Phone No.</th> -->
                <th>Service</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Invoice</th>
              </tr>
              <tr ng-repeat="x in paydueList | filter:search:strict | orderBy:'-createdAt'" ng-if="status== 'All' ||  status==x.status"
                ng-show="Service == 'select Service' ||  Service==x.receiver">
                <td>{{x.payerDetails.firstname}} {{x.payerDetails.lastname}}</td>
                <td>{{x.payer}}</td>
                <td>{{x.amount}}</td>
                <td>{{x.receiver}}</td>
                <td>{{x.dueDate | date : "shortDate"}}</td>
                <td>{{x.status}}</td>
                <td><a href=""  ng-click="print(x)" class="btn btn-success btn-sm">
                  <span class="glyphicon glyphicon-print"></span> Print 
                </a>&nbsp;<a href="mailto:QunatumInvoice@quantom.com?Subject=Invoice" class="btn btn-success btn-sm" ng-click="email(x)">
                  <span class="glyphicon glyphicon glyphicon-envelope"></span> email </a></td>
              </tr>
            </table>
          </div>
          <div class="row m-l-none m-r-none bg-light lter"> </div>
        </section>
    </section>
  </section>
</section>
<div class="invoice-box" id="fromHTMLtestdiv">
  <table cellpadding="0" cellspacing="0" style="width:100%">
      <tr class="top">
          <td colspan="2"  style="width:100%">
              <table  style="width:100%">
                  <tr>
                      <td class="title" style="width:50%">
                          <img src="../images/logo.png" style="width:190px; height:40px;"><span style="font-size:16px"></span>
                      </td>
                      
                      <td  style="width:50%;text-align:right">
                          Invoice #: 123<br>
                          Created: {{invoice.createdAt| date : "shortDate"}}<br>
                          Due: {{invoice.createdAt| date : "shortDate"}}
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      
      <tr class="information">
          <td colspan="2">
              <table>
                  <tr>
                      <td>
                          {{invoice.addressLine1}}<br>
                          {{invoice.addressLine2}}<br>
                          {{invoice.addressLine3}}  
                          {{invoice.city}}
                          {{invoice.state}}</td>
                      
                      <td>
                          {{invoice.firstname + invoice.lastname}}<br>
                          {{invoice.email}}
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      
      <tr class="heading">
          <td>
              Payment status
          </td>
          
          <td style="text-align:  right;padding-right:15px">
              {{invoice.status}}
          </td>
      </tr>
      
      <tr class="details">
          <td style="color:#717171;text-align: left">
              <b>ITEM</b>
          </td>
          
         
      </tr>
      
     
      
      <tr class="item">
          <td>
              {{invoice.receiver}}
          </td>
          
          <td style="text-align:  right;padding-right:15px">
            Rs. {{invoice.amount}}
          </td>
      </tr>
      
     
      <tr>
        <td colspan="2"><hr></td>
      </tr>
      <tr class="total">
          <td></td>
          
          <td style="color:#717171;text-align:  right;padding-right:15px">
             Total: Rs. {{invoice.amount}}
          </td>
      </tr>
  </table>
</div>


