
<section  class="m-t-lg wrapper-md animated fadeInDown">
  <div class="container aside-xxl"> <a class="navbar-brand block" href="index.html"><img src="images/logo.png" alt=""> QuantumConnect</a>
    <section class="panel panel-default m-t-lg bg-white">
      <header class="panel-heading text-center"> <strong>Sign up</strong> </header>
      <form class="panel-body wrapper-lg" novalidate>
      <!-- <div class="form-group">
          <label class="control-label">Role</label>
          <select name="" class="form-control input-md">
          <option>Admin</option>
          <option>Super Admin</option>
          <option>User</option>
          </select>
        </div> -->
        <div class="form-group">
          <label class="control-label">First Name</label>
          <input type="text" placeholder="eg.Ryan" ng-model="firstName" class="form-control input-md" required>
        </div>
        <div class="form-group">
          <label class="control-label">Last Name</label>
          <input type="text" ng-model="lastName" placeholder="eg. dhal" class="form-control input-md" required>
        </div>
        <div class="form-group">
          <label class="control-label">D.O.B</label>
          <input type="date" ng-model="dob" placeholder="DD/MM/YY" class="form-control input-md" required>
        </div>
        <div class="form-group">
          <label class="control-label">SEX
            </label>
            <div class="form-control input-md" style="border:0 !important">
          <input type="radio" ng-model="sex" name="sex" value="M" required> Male &nbsp;&nbsp;&nbsp;
          <input type="radio" ng-model="sex" name="sex" value="F" required> Female &nbsp;&nbsp;&nbsp;
          <input type="radio" ng-model="sex" name="sex" value="O" required> Others
            </div>
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
          <input type="email" placeholder="test@example.com" ng-model="email" class="form-control input-md" required>
        </div>
        <div class="form-group">
          <label class="control-label">Mobile </label>
          <input type="text" pattern="\d*"  ng-model="mobile" placeholder="9876543210" maxlength="10" class="form-control input-md" required>
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input type="password" ng-model="password" id="inputPassword" maxlength="16" placeholder="Type a password" class="form-control input-md" required>
        </div>
        <div class="form-group addr">
            <label class="control-label">Address </label>
            <input type="text" ng-model="addrLine1" placeholder="line1" class="form-control input-md" required>
            <input type="text" ng-model="addrLine2" placeholder="line2" class="form-control input-md">
            <input type="text" ng-model="addrLine3" placeholder="line3" class="form-control input-md">
            <input type="text" ng-model="addrCity" placeholder="city" class="form-control input-md" required>
            <input type="text" ng-model="addrState" placeholder="state" class="form-control input-md" required>
            <input type="text" pattern="\d*" maxlength="6" ng-model="addrPincode" placeholder="pincode" class="form-control input-md" required>
          </div>
        <div class="form-group">
          <div class="checkbox">
          <label>
          <input ng-model="terms" type="checkbox" required>
          Agree the terms and policy </label>
        </div>
        </div>
        <button type="submit" ng-click="signupCall()" ng-disabled="!firstName || !lastName || !dob || !sex || !mobile || !email || !password || !addrLine1 || !addrLine2 || !addrLine3 || !addrCity || !addrState || !addrPincode || !terms" class="btn btn-primary  btn-block">Sign up</button>
        <div class="line line-dashed"></div>
        <p class="text-muted text-center"><small>Already have an account?</small></p>
        <a ui-sref="myapp.login" class="btn btn-default btn-small center-block">Sign in</a>
      </form>
    </section>
  </div>
</section>
